################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OrgChartWebForms/.vs/OrgChartWebForms
/OrgChartWebForms/packages
/OrgChartWebForms/OrgChartWebForms/bin
/OrgChartWebForms/OrgChartWebForms/obj/Debug
